.DS_Store
**/.DS_Store
__pycache__/
**/__pycache__/
*.pyc
tests/.seed_db/
ui_api_test/node_modules
ui_api_test/dist
ui/node_modules/
ui_alt/node_modules/
ui/.vite/
ui_alt/.vite/
.venv/
.env
ui/.local/
ui_alt/.local/
/.local/
ci/.last_commit
ci/nginx/.htpasswd
